h1 {
    color: purple;
}

div{ color: burlywood; }

/** class selectors */
.c1{ color: red;}


/* id selectors */
#i1{ color: blue;}

/* element class selectors */
div.i2{ color: green; }

/* element id selectors */
div#i3{ color: yellow; }

